html, body {
	height: 100%;
}

#mainView {
	width: 100%;
	height: 100%;
}

#selectView {
	width: 100%;
	height: 100%;
}

.lat {
	margin: auto;
	width: 350px;
}

.btn-xl {
	padding: 18px 28px !important;
	font-size: 22px !important;
	border-radius: 8px !important;
}

.busTime {
	padding-right: 5px;
	font-size: 36px;
}

.btnBack {
	visibility : hidden;
	margin: 5px 0 20px;
}

.busLegend {
	width: 100%;
	padding-left: 5px;
	font-size: 18px;
}

.marginBtmSmall {
	margin-bottom: 5px !important;
}